In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [118]:
dataset = pd.read_csv('Data.csv')

In [96]:
dataset.head()

,Country,Age,Salary,Purchased
0,France,44.0,72000.0,No
1,Spain,27.0,48000.0,Yes
2,Germany,30.0,54000.0,No
3,Spain,38.0,61000.0,No
4,Germany,40.0,NaN,Yes

In [49]:
X = dataset[['Country','Age','Salary']].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [47]:
y = dataset['Purchased'].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Replace Missing data

In [128]:
age_mean = dataset['Age'].mean()
age_mean

38.77777777777778

In [129]:
dataset['Age'].fillna(age_mean,inplace = True)

In [130]:
salary_mean = dataset['Salary'].mean()

In [131]:
dataset['Salary'].fillna(salary_mean,inplace = True)

In [132]:
dataset.isnull().sum()

Age                0
Salary             0
Purchased          0
Country_France     0
Country_Germany    0
Country_Spain      0
dtype: int64

## Dummies the Category Variable

In [119]:
# Change Yes,No to 0,1
dataset.loc[(dataset['Purchased'] == 'No'),'P_num'] = 0

In [120]:
dataset.loc[(dataset['Purchased'] == 'Yes'),'P_num'] = 1

In [122]:
dataset.drop('Purchased',axis=1,inplace=True)

In [123]:
dataset.columns

Index([u'Country', u'Age', u'Salary', u'P_num'], dtype='object')

In [124]:
dataset.columns = ['Country', 'Age', 'Salary', 'Purchased']

In [133]:
dataset.head()

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.0,72000.000000,0.0,1,0,0
1,27.0,48000.000000,1.0,0,0,1
2,30.0,54000.000000,0.0,0,1,0
3,38.0,61000.000000,0.0,0,0,1
4,40.0,63777.777778,1.0,0,1,0

In [126]:
# using dummies to seperate each categories
dataset = pd.get_dummies(dataset)

In [134]:
dataset.head()

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.0,72000.000000,0.0,1,0,0
1,27.0,48000.000000,1.0,0,0,1
2,30.0,54000.000000,0.0,0,1,0
3,38.0,61000.000000,0.0,0,0,1
4,40.0,63777.777778,1.0,0,1,0