In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
X = dataset[['Country','Age','Salary']].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [5]:
y = dataset['Purchased'].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Replace Missing data

In [6]:
age_mean = dataset['Age'].mean()
age_mean

38.77777777777778

In [7]:
dataset['Age'].fillna(age_mean,inplace = True)

In [8]:
salary_mean = dataset['Salary'].mean()

In [9]:
dataset['Salary'].fillna(salary_mean,inplace = True)

In [10]:
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

## Dummies the Category Variable

In [11]:
# Change Yes,No to 0,1
dataset.loc[(dataset['Purchased'] == 'No'),'P_num'] = 0

In [12]:
dataset.loc[(dataset['Purchased'] == 'Yes'),'P_num'] = 1

In [13]:
dataset.drop('Purchased',axis=1,inplace=True)

In [14]:
dataset.columns

Index(['Country', 'Age', 'Salary', 'P_num'], dtype='object')

In [15]:
dataset.columns = ['Country', 'Age', 'Salary', 'Purchased']

In [16]:
dataset.head()

   Country   Age        Salary  Purchased
0   France  44.0  72000.000000        0.0
1    Spain  27.0  48000.000000        1.0
2  Germany  30.0  54000.000000        0.0
3    Spain  38.0  61000.000000        0.0
4  Germany  40.0  63777.777778        1.0

In [17]:
# using dummies to seperate each categories
dataset = pd.get_dummies(dataset)

In [18]:
dataset.head()

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.0,72000.000000,0.0,1,0,0
1,27.0,48000.000000,1.0,0,0,1
2,30.0,54000.000000,0.0,0,1,0
3,38.0,61000.000000,0.0,0,0,1
4,40.0,63777.777778,1.0,0,1,0

## Train Test Split

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
X = dataset.drop('Purchased',axis=1)
y = dataset['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

## Feature Scaling

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
stscaler = StandardScaler()

In [27]:
X_train = stscaler.fit_transform(X_train)

C:\Users\Nile\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Nile\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [28]:
X_test = stscaler.fit_transform(X_test)

C:\Users\Nile\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Nile\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [32]:
X_test[1]

array([-1.37198868, -1.29407862, -1.        , -0.57735027,  1.73205081])